    .sns-config .bd .tips-box{
        font-size:15px;
        margin:10px 0;
    }
    .sns-config .bd .tips-box b{
        margin: 0 4px;
    }

    #baseInfoForm .input-help-text{
        line-height: 12px;
        color:#999;
    }

    #J_uniqueName{
        width:136px;
    }
    #J_realname-mask{
        width:136px;
    }
	#Content .main-wrap,
	#content .main-wrap {
	    margin-left: 139px;
	}

	#Content .col-sub,
	#content .col-sub {
	    width: 139px;
		margin-left: -100%;
		*display: inline;
	}
